<div class="row">
  <div class="col-md-6">
    <div class="comments"><i class="fa fa-comments"></i> <%= pluralize(post.comments.count, 'Comment') %></div>
  </div>
  <div class="col-md-6">
    <div class="likes"><i class="fa fa-thumbs-o-up"></i> Like</div>
  </div>
</div>
