<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Interlink,
    <% if @user.full_name.present? %>
      <%= @user.full_name %>
    <% else %>
      <%= @user.email %>
    <% end %>
    </h1>
    <p>
      You have successfully applied the job: <%= @job.job_title%>,
      the employer will get your information as well.<br>
    </p>
    <p>
      To review the job position, just follow this link: <%= link_to 'Here', @url %>.
    </p>
    <p>Thanks for choosing Interlink and have a great day!</p>
  </body>
</html>
