
<div class="jumbotron my_saved_jobs">
  <h1>Jobs Repository</h1>
  <% if @saved_jobs.present? %>
    <p>You can review and manage your saved posts from the following lists</p>

  <% else %>
    <p>It seems you have not saved any jobs, you can find and save from the following button.</p>
    <p><%= link_to 'Search Jobs', my_jobs_path, class: 'btn btn-lg btn-primary' %></p>
  <% end %>
</div>
<% if @saved_jobs.present? %>
  <%= render 'jobs/saved_job_lists' %>
<% end %>
