<div class="jumbotron landing-page">
  <h1>Interlink, Link Each Other</h1>
  <p>Sign up for free, link with your friends and link with your next job.</p>
  <p><%= link_to 'Sign up', new_user_registration_path, class:'btn btn-primary btn-lg', role: 'button' %></p>
</div>
